.About-content {
    background-color: rgba(40, 44, 52, 0.6);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
  }

  .Parallax-cover2 {
    /* The image used */
    background-image: url("../img/bg2.JPG");
  
    /* Set a specific height */
    min-height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .About-title {
    padding: 2em;
  }

  .About-subtitle {
    text-align: left;
  }

  .vl {
    border-left: 3px solid white;
    height: 40px;
    position: absolute;
    margin-left: -10px;
  }

  @media (max-width: 767px) { 
    .About-subtitle {
      text-align: left;
      padding-left: 2em !important;
    }
   }

  @media (min-width: 768px) and (max-width: 1500px) { 
    .Row-samll {
      padding-bottom: 1em;
      font-size: 20px;
    }

   }
