.Portfolios-content {
    background-color: rgba(40, 44, 52, 0.2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
  }

  .Parallax-cover3 {
    /* The image used */
    background-image: url("../img/bg3.JPG");
  
    /* Set a specific height */
    min-height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Portfolios-title {
    padding: 2em;
  }

  .Portfolios-col {
    padding-bottom: 1em;
}


  .card-img-top {
    width: 100%;
    object-fit: cover;
  }

  .card-body {
    height: 180px;
  }

  @media (max-width: 424px) { 
    .Headline {
      font-size: 40px;
      font-weight:normal;
      line-height:1;
      padding: 1em;
    }

    .LinkedIn {
      font-size: 30px;
      color: white;
  }
  
    .GoTo {
        position: absolute;
        bottom: 2em;
        font-size: 30px;
        color: white;
    }
   }

  @media (min-width: 424px) and (max-width: 767px) { 
    /* .card-body {
      height: 250px;
    } */
   }

  @media (min-width: 767px) and (max-width: 991px) { 
    .card-body {
      height: 200px;
    }
   }

  @media (min-width: 991px) { 
    .card-body {
      height: 180px;
    }
  
   }