.Parallax-cover {
    /* The image used */
    background-image: url("../img/bg.JPG");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .Headline {
    padding: 8em 1em 1em 1em;
    margin: auto;
    color: white;
    text-shadow: 2px  2px  4px  grey;
  }